alertmanager:
  config:
    global:
      smtp_smarthost: maildev-smtp.maildev:25
      smtp_from: monitoring-from@example.com
      smtp_hello: alertmanager
      smtp_require_tls: false
      resolve_timeout: 10s
    route:
      group_by:
        - alertname
        - service
      group_wait: 15s
      group_interval: 30s
      repeat_interval: 1m
      receiver: mails
      routes:
        - receiver: "mails"
          continue: true
    receivers:
      - name: "mails"
        email_configs:
          - to: monitoring-to@example.com
            send_resolved: true
            tls_config:
              insecure_skip_verify: true
